.std-form {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.std-form label {
  margin: 5px 0;
  font-size: 20px;
  font-weight: 800;
}

.std-form input {
  margin: 5px 0;
  height: 40px;
  border: 1px solid #000;
  border-radius: 27.5px;
}

.std-form input::placeholder {
  position: relative;
  left: 13px;
  font-size: 15px;
  font-weight: 200;
}


@media (min-width: 768px) {
  .std-form {
    width: 30vw;
  }
}

@media (min-width: 1024px) {
  .std-form {
    width: 25vw;
  }
}
