.formTitle {
  font-size: 4em;
  text-align: center;
}

.stdForm {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.stdForm label {
  font-size: 20px;
}

.stdForm input {
  height: 40px;
  border: 1px solid #000;
  border-radius: 27.5px;
}

.stdForm input::placeholder {
  position: relative;
  left: 13px;
}

.formBtnRental {
  margin: 10px;
  font-size: 1.9em;
  width: 300px;
  height: 55px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  /* color: #fff; */
  background-color: var(--primary);
  align-self: center;
}

.formBtnRental:hover {
  background-color: var(--primary-hover); /* +4096 */
}

@media ( min-width: 768px ) {
    .stdForm {
        width: 30vw;
    }

}

@media ( min-width: 1024px ) {
    .stdForm {
        width: 25vw;
    }
}
