@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@800&family=Roboto:wght@700&display=swap");
@import url("fonts/Pretendard-1.3.6/web/static/pretendard.css");

:root {
  --background-color: #fff;
  --text-color: #000;
  --primary: #ffc145;
  --primary-hover: #fcca45; /* +4096 (Decimal) */
}

* {
  margin: 0;
  padding: 0;
  font-family: "Pretendard", sans-serif;
  -webkit-font-smoothing: antialiased;
}

html,
body {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: var(--background-color);
  color: var(--text-color);
  font-size: 10px;
}

body {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

.container {
  position: relative;
  top: -85px; /* Since umbrella logo */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.umbrella-logo {
  width: 150px;
  margin: 5px 0;
}

.title {
  margin: 5px 0;
  text-align: center;
  font-size: 3em;
  font-weight: 900;
}

/* Button */
.btn-con {
  display: flex;
  flex-direction: column;
}

.btn {
  margin: 5px 0px;
  width: 300px;
  height: 55px;
  font-size: 2em;
  font-weight: 800;
  background-color: var(--primary);
  border: none;
  box-shadow: 4px 4px 7px -3px rgb(0, 0, 0, 0.25);
  border-radius: 5px;
  color: #000;
  cursor: pointer;
}

.btn {
  /* Align Button Image */
  display: flex;
  align-items: center;
  justify-content: center;
}

.spacer {
  height: 10px;
}

.btn:hover {
  background-color: var(--primary-hover);
}

/* Bottom Text for Home.js */
.bottom-txt {
  margin: 5px 0;
  display: flex;
  width: 300px;
  font-size: 13px;
  line-height: 15px;
}

.license,
.copy,
.ifu {
  font-weight: 100;
}

.copy {
  margin-left: 13px;
}

.ifu {
  margin-left: auto;
}

/* Footer for other pages */
.footer {
  position: fixed;
  bottom: 0;
  margin-left: 45px;
}

.copyright {
  display: flex;
  font-size: 13px;
  line-height: 15px;
}

/* NEOFLUX Logo Gradient */
.neo {
  font-family: "Roboto", sans-serif;
  background: -webkit-linear-gradient(-45deg, #4e9ff7, #f28369);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (min-width: 768px) {
  .btn-con {
    flex-direction: row;
  }

  .title {
    font-size: 3em;
  }

  .btn {
    width: 160px;
    height: 40px;
    font-size: 2em;
  }

  .bottom-txt {
    width: calc(2 * (160px + 5px));
  }

  .copy {
    margin-left: 10px;
  }
}

@media (min-width: 1024px) {
  .btn-con {
    flex-direction: row;
  }

  .title {
    font-size: 6em;
  }

  .btn {
    width: 320px;
    height: 80px;
    font-size: 4em;
  }

  .bottom-txt {
    font-size: 20px;
    width: calc(2 * (320px + 10px));
  }

  .copy {
    margin-left: 20px;
  }
}