/* Success and Error Pages Styles */

.process {
  font-size: 40px;
  font-weight: 900;
}

.icon {
  color: red;
  font-size: 100px;
}

.error {
  color: red;
}

.info {
  text-align: center;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 15px;
  font-weight: 600;
}

.right-arrow-success {
  margin: 0 4px;
  width: 17px;
}

.warning {
  margin: 5px 0;
  color: red;
  font-size: 20px;
  font-weight: 800;
}
